.click {
    text-align: center;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1 {
    text-align: center;
    background:url(https://cdn.discordapp.com/attachments/354248290109489166/798905880044634162/rsz_61200px-left_side_of_modern_us-international_keyboard4.png);
    background-position: 50% 25%;
    height: 86px;
    width: 482px;
}

.changeSize {
    height: 206px;
    width: 206px;
}

#theButton {
    background: url(https://cdn.discordapp.com/attachments/354248290109489166/797816992387039232/aButton.png);
    background-position: 50% 25%;
    text-align: center;
    width: 256px;
    height: 256px;
    background: url(img/empty.png);
    border-radius: 128px;
}

.center {
    text-align: center;
}

#moneky {
    background-image: url(https://cdn.discordapp.com/attachments/467282217455058944/797805469606477824/Chimpanzee_seated_at_typewriter.png);
}

.font-color {
    color: rgb(247, 0, 53);
}

.font-style {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px}
    .sidenav a {font-size: 18px;}
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.archive {
    background-color: #ccc;
}

.tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}